<br/>
<div class="row">

	<div class="col-xs-6 col-sm-3 placeholder">
		<input type="button" id="add_number_btn" class="btn btn-primary" value="Add" />
		<div id="add_number_dialog" class="form-group" title="Add Number">
			<div id="dialog-content"></div>
		</div>
		
		<div id="details_dialog" class="form-group" title="Details">
			<div id="details-content"></div>
		</div>
	</div>
</div>

<div class="row">

	<% @user_num_list.each do |user_num| %>

	<div class="col-xs-6 col-sm-3 <%= cycle('result-even', 'result-odd') -%>">
		<h4 class="dropdown">
			<%= ball_view user_num.numbers %>
			<a class="dropdown-toggle caret user-num-menu" id="usernum-<%= user_num.id %>"
				data-toggle="dropdown" data-numbers="<%= user_num.numbers %>" data-game-id="<%= user_num.lotto_game_id %>">
			</a>
		</h4>
		<span class="text-muted"><%= user_num.lotto_game.name %></span>
		<% if (user_num.won)%>
			<span class="winners-bg badge">Today's winner!</span>
		<% end %>
	</div>
	<% end %>
</div>

<ul class="dropdown-menu" role="menu" id="user-num-context-menu">
	<li>
		<a class="details-btn">Details</a>
	</li>
	<li class="divider"></li>
	<li>
		<a id='remove-num-btn' href="#">Remove</a>
	</li>
</ul>

