<form class="form-group">
	<fieldset>
		<p>
		<label for="game_id">Game</label>
		<select id="game_id" name="game_id" class="form-control">
			<% LottoGame.all.each do |g| %>
				<option value="<%= g.id %>" data-count="<%= g.group_name[0] %>"><%= g.name %></option>
			<% end %>
		</select>
		</p>
		
		<label for="numbers">Numbers</label>
		<div id="add-number-multi-input" class="multiple-val-input form-control">
			<ul>
				<input id="multi-input-text" type="text">
				<input id="numbers" name="numbers" type="hidden" />
				<span class="input_hidden"></span>
			</ul>
		</div>
		<span id='add-number-help-info' style="color: #26B0DE">Please enter up to 2 numbers only.</span>	

		<p>
		<%= check_box_tag :rambolito, 'rambolito', false %>
		<%= label_tag(:rambolito, "Rambolito") %>
		</p>
	</fieldset>
</form>
