
<h3><%= ball_view params[:numbers] %></h3>
<hr />

<p><span class="num-detail-header">Game:</span>
	<%= LottoGame.where(id: params[:game_id])[0].name %></p>

<% @draw_dates = LottoResult.where(numbers: params[:numbers], lotto_game_id: params[:game_id]).order(draw_date: :DESC) %>
<p class="num-detail-header">Appeared <%= pluralize(@draw_dates.size, 'time')%> on These Dates:</p>
<ul>
<% @draw_dates.each do |row| %>
	
	<li><%= row.draw_date.strftime("%Y %b %d") + ', ' + row.game %></li>

<% end %>
</ul>

<p><span class="num-detail-header">Odd-Even Count:</span>
	<%= pluralize(@odd_count, 'odd') + ', ' + pluralize(@even_count, 'even') %></p>
	
<p><span class="num-detail-header">Sum:</span>
	<%= params[:numbers].split('-').map{|x|x.to_i}.inject(0){|sum,x| sum + x }.to_s %></p>