<br/>
<label for="search-num-box">Separate your number inputs by using comma, dash, space, or enter keys.
<%= image_tag 'images/load-icon.gif', id: 'load-icon', width: 16 %></label>

<div id="search-num-multi-input" class="multiple-val-input form-control">
    <ul>
        <input id="multi-input-text" type="text">
        <span class="input_hidden"></span>
    </ul>
</div>

    <a href="#">More options</a>
    
    <table>
        <tr>
            <td style="min-width: 200px">
                
                <h4>Filter</h4>
                <% LottoGame.find_each do |g| %>
                
                <input id="search-by-game<%= g.id %>" type="checkbox" value="<%= g.id %>" />
                <label for="search-by-game<%= g.id %>"><%= g.name %></label><br>
                <% end %>
                
                
                <h4>Sort</h4>
                <input type="checkbox" /><label>Number</label>
                <input type="checkbox" /><label>Date</label>
                <input type="checkbox" /><label>Game</label>
                
            </td>
            <td>
                <div id="results">
                
                </div>     
            </td>
        </tr>
    </table>


<ul class="dropdown-menu" role="menu" id="num-search-context-menu">
    <li>
        <a id="num-search-details" class="details-btn">Details</a>
    </li>
    <li class="divider"></li>
    <li>
        <a id="add-result-to-user-num-btn" href="#">Add to Your Numbers</a>
    </li>
</ul>

