

<br/>
<label for="search-num-box">Enter your numbers here. Separate them by using comma, dash, space, or enter keys.
    <%= image_tag 'images/load-icon.gif', id: 'load-icon', width: 16 %></label>

<div id="search-num-multi-input" class="multiple-val-input form-control">
    <ul>
        <input id="multi-input-text" type="text">
        <span class="input_hidden"></span>
    </ul>
</div>

<a href="#filter-collapse" data-toggle="collapse">More options</a>

<div id="filter-collapse" class="row panel-collapse collapse">
    <div class="col-sm-6 panel panel-info">
        <div class="row panel-heading">
            <a data-toggle="collapse" data-parent="#filter-collapse" href="#filter-panel">FILTER</a>
        </div>
        <div id="filter-panel" class="row panel-body panel-collapse">
            <div class="col-sm-2 filter-option button-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span>Game&nbsp;</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu columns" id="game-filter">
                    <li>
                        <a href="#" class="small" tabIndex="-1">
                        <input type="checkbox" value="all" checked />
                        &nbsp;All Games</a>
                    </li>
                    <% LottoGame.find_each do |g| %>
                    <li>
                        <a href="#" class="small" tabIndex="-1">
                        <input type="checkbox" id="game_id_<%= g.id %>" value="<%= g.id %>" />
                        &nbsp;<label for="game_id_<%= g.id %>"><%= g.name %></label> </a>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div class="col-sm-6 filter-option">
                <div class="row">
                    <div class="col-xs-5">
                        <select class="form-control" id="date-filter">
                            <option value="date">Date</option>
                            <option value="date-range">Range</option>
                        </select>
                    </div>
                    <div class="col-xs-7 input-group">
                        <input class="form-control" type="text" id="date-exp" placeholder="yyyy-mm-dd" />
                        <input type="hidden" id="datepicker" />
                        <span class="cal-btn input-group-addon"><%= image_tag 'images/calendar.gif', width: 16 %> </span>
                    </div>
                </div>
                <div class="row" id="date-to-section" style="display: none">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7 input-group">
                        <input class="form-control" type="text" id="date-to" placeholder="Date To" />
                        <span class="cal-btn input-group-addon"><%= image_tag 'images/calendar.gif', width: 16 %> </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 filter-option">
                <label>
                    <input type="checkbox" id="winners-check" />
                    <span>Winning numbers only</span> </label>
            </div>
        </div>
    </div>
    <div class="col-sm-3 panel panel-info">
        <div class="row panel-heading">
            <a data-toggle="collapse" data-parent="#filter-collapse" href="#sort-btn-group">SORT</a>
        </div>
        <div id="sort-btn-group" class="row panel-body panel-collapse collapse" data-toggle="buttons">
            <div class="col-xs-4 btn btn-info active">
                <input type="radio" name="options" id="option1" autocomplete="off" value="1" checked/>
                Date&nbsp;<span id="sort-caret1" class="caret"></span>
            </div>
            <div class="col-xs-4 btn btn-info">
                <input type="radio" name="options" id="option2" autocomplete="off" value="2" />
                Game&nbsp;<span id="sort-caret2" class="caret" style="display: none"></span>
            </div>
            <div class="col-xs-4 btn btn-info">
                <input type="radio" name="options" id="option3" autocomplete="off" value="3" />
                Number&nbsp;<span id="sort-caret3" class="caret" style="display: none"></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 panel panel-info">
        <div class="row panel-heading">
            <a data-toggle="collapse" data-parent="#filter-collapse" href="#group-panel">GROUP</a>
        </div>
        <div id="group-panel" class="row panel-body panel-collapse collapse">
            <div class="col-sm-8">
                <select class="form-control">
                    <option>None</option>
                    <option>Game</option>
                    <option>Month and Year</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <input class="btn-primary btn" id="filter-btn" type="submit" value="Filter" />
    </div>
</div>

<div id="results" class="row">

</div>

<ul class="dropdown-menu" role="menu" id="num-search-context-menu">
    <li>
        <a id="num-search-details" class="details-btn">Details</a>
    </li>
    <li class="divider"></li>
    <li>
        <a id="add-result-to-user-num-btn" href="#">Add to Your Numbers</a>
    </li>
</ul>
