
		<br/>
		<p class="text-muted"><label>Found <%= @results_size %> matches.</label></p>
	


<div class="row">  	
	<% @results.each do |result| %>
	
	<div class="col-xs-6 col-sm-3 <%= cycle('result-even', 'result-odd') -%>">
		<h4 class="dropdown"><%= ball_view result.numbers %>
			<a class="dropdown-toggle caret lotto-num-menu" id="result-<%=result.id %>"
				data-toggle="dropdown" data-numbers="<%= result.numbers %>" data-game-id="<%= result.lotto_game_id %>"></a>
		</h4>
		<span class="text-muted"><%= result.game %><br/>
			<%= result.draw_date.strftime("%b %d, %Y") %>
		</span>
	</div>
	<% end %>
</div>