<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>

<h1>Results</h1>
 
<table>
  <tr>
    <th>Game</th>
    <th>Numbers</th>
    <th>Draw Date</th>
    <th>Jackpot Prize</th>
    <th>Winners</th>
    <th>Date</th>
  </tr>
 
  <% @results.each do |result| %>
    <tr>
      <td><%= result.game %></td>
      <td><%= result.numbers %></td>
      <td><%= result.draw_date.strftime("%B %d, %Y") %></td>
      <td align="right"><%= number_to_currency(result.jackpot_prize) %></td>
      <td><%= result.winners %></td>
      <td><%= result.created_at %></td>
    </tr>
  <% end %>
</table>