<div class="row">
	<h2 class="featurette-heading"><span>Draw Date:</span> <span><%= @draw_date.strftime("%A, %B %d, %Y") %></span></h2>
	<% @lotto_results.each do |result| %>
	<div class="result-box <%= cycle('result-odd', 'result-even') -%>">
		<h4><%= result.game %>
		<br/>
		<%= ball_view result.numbers %></h4>
		<div>
			<%= number_to_currency(result.jackpot_prize, unit: '₱') %>
			<% if result.winners > 0 %>
			<span class="winners-bg badge"><%= pluralize(result.winners, 'winner')  %></span>
			<% end %>
		</div>
	</div>
	<% end %>
</div>

<div class="row">
	<p class="footnote">
		You have received this email because you have subscribed to Daily Results emails from <%= Lottominer::Application::PROJECT_NAME %>.
		<br/>
		<a href="<%= request.base_url + '/mail/unsubscribe?id=' + @subscription.id %>">Click here if you want to unsubscribe.</a>
	</p>
</div>

