<div class="col-md-12">
  <h2 class="featurette-heading">Draw Results, 
  	<span class='text-muted'><%= @selected_date.strftime("%B %d, %Y (%A)") %></span>         	
  </h2> 
	  
  <div class="col-lg-12">
    <h1><%= @latest_result.game %></h1>
    <h1><%= ball_view @latest_result.numbers %></h1>
    <h2><%= number_to_currency(@latest_result.jackpot_prize, unit: '₱') %>
       <% if @latest_result.winners > 0 %>
       	<span class="winners-bg badge"><%= pluralize(@latest_result.winners, 'winner')  %></span>
       <% end %>
    </h2>
  </div>         
  <div>
  	<% @other_results.each do |result| %> 
    <div class="col-xs-4 col-lg-3 <%= cycle('result-even', 'result-odd') -%>">             
		<h4><%= result.game %></h4>
        <h4><%= ball_view result.numbers %></h4>
        <p><%= number_to_currency(result.jackpot_prize, unit: '₱') %>
           <% if result.winners > 0 %>
           	 <span class="winners-bg badge"><%= pluralize(result.winners, 'winner')  %></span>
           <% end %>

    </div>
  	<% end %>
  
  </div>
</div>
