<h1>Hello there!</h1>
<p>You are just one step away to completing your registration! To proceed, please enter or verify the following information.</p>
<div class="row">
	    <div class="user-photo col-xs-10 col-lg-1"><%= image_tag @db_user.photo %></td>
	    </div>
	    <div class="col-xs-10 col-lg-5">
	    	
			<%= form_for :user, class: 'form-horizontal', url: '/register', method: :post, :html => { :id => 'user-register-form' }  do |f| %>
			  <p class="form-group has-feedback">
			    <%= f.label :email, class: 'control-label' %><br>
			    <%= f.text_field :email, value: @db_user.email, class: 'form-control', placeholder: 'Enter your email' %>
			  </p>
			 
			  <p class="form-group has-feedback">
			    <%= f.label :name, class: 'control-label' %><br>
			    <%= f.text_field :name, value: @db_user.name, class: 'form-control', placeholder: 'Enter your name' %>
			  </p>
			  	  
			  <%= f.hidden_field :fb_id, value: @db_user.fb_id %>
			  <%= f.hidden_field :photo, value: @db_user.photo %>			  
			  <%= f.hidden_field :fb_info, value: @db_user.fb_info %>
			  <%= check_box_tag :notify_daily_results, true, true %>
			  <%= label_tag(:notify_daily_results, "Subscribe to the Daily Results email") %><br/>
			  <%= check_box_tag :notify_if_winner, true, true %>
			  <%= label_tag(:notify_if_winner, "Notify me if I won") %>
			  <p>
			    <%= submit_tag "Register", class: "btn btn-primary" %>
			  </p>
			<% end %>	    		    	    	
	    </div>

</div>