<!DOCTYPE html>
<html>
<head>
  <title><%= Lottominer::Application::PROJECT_NAME %></title>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon-32x32.png' %>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" href="<%= asset_path 'favicon-32x32.png' %>"/>
</head>
<body>

	<%= render controller.current_user.present? ? "/layouts/header" : "/layouts/header_guest" %>
	
	

    <div class="container-fluid">
      <div class="row">
      	
      	<% if params[:controller] == "analytics" && (params[:action] == 'index' || params[:action] == 'game') %>
		<%= render "/layouts/navbar" %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<%= yield %>
        </div>
        <% else %>
        
        <div class=" main">
        	<%= yield %>
       	</div>
        <% end %>
      </div>
      
      <%= render "/layouts/footer" %>
    </div>







</body>
</html>
