<!DOCTYPE html>
<html>
	<head>
		<title><%= Lottominer::Application::PROJECT_NAME %></title>

		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			/*snippets taken from bootstrap.css*/
			body {
				margin: 0;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 14px;
				color: #333;
			}

			h1 {
				margin: 0;
				padding: 10px 0;
				font-size: 36px;
			}

			p, h2 {
				padding: 0 20px;
			}

			img {
				vertical-align: middle
			}

			h1, h2, h3, h4 {
				font-weight: 500;#line-height: 1.1;
				color: inherit;
			}

			.navbar {
				background-color: black;
				color: white;
			}

			.lead {
				margin-bottom: 20px;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.4;
			}

			hr {
				margin-top: 20px;
				margin-bottom: 20px;
				border: 0;
				border-top: 1px solid #eee;
			}
			
			a {
				color: #428bca;
				text-decoration: none;
			}
		</style>

	</head>
	<body>

		<div class="container-fluid">
			<div class="row">
				<div class="navbar navbar-inverse">
					<h1><img src="<%= request.base_url + asset_path('images/OneBall.png') %>" width="48px" /> Lotto Analytics</h1>
				</div>

				<%= yield %>
			</div>
		</div>
		<%= render "/layouts/footer" %>
	</body>
</html>