<!DOCTYPE html>
<html>
	<head>
		<title>Lottominer</title>
		<%= stylesheet_link_tag 'mailer', media: 'all', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>

		<div class="container-fluid">
			<div class="row">
        		<div class="navbar navbar-inverse">
					<h1>
					<!--	<%= image_tag request.domain'images/OneBall.png', width: 48 %> -->
						Lotto Analytics</h1>
				</div>
				
					<%=yield %>
			</div>
		</div>
      <%= render "/layouts/footer" %>
	</body>
</html>