<!DOCTYPE html>
<html>
	<head>
		<title><%= Lottominer::Application::PROJECT_NAME %></title>

		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="format-detection" content="telephone=no">

		<style>
			<%= render file: Rails.root + '/app/assets/stylesheets/mailer.scss'%>
		</style>

	</head>
	<body>
		<div class="navbar navbar-inverse">
			<h1><img src="<%= request.base_url + asset_path('images/OneBall.png') %>" width="28px" /> Lotto Analytics</h1>
		</div>
		<div class="container-fluid">
			<%= yield %>
		</div>
		<%= render "/layouts/footer" %>
	</body>
</html>